/**
 * Styles for the WordPress post/page editor.
 * Ensures a visual match between back- and front-end.
 */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Imports
   # Custom properties
   # Typography
   # Elements
   # Links
# Adjustments for the editor

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/

@import "../_custom-properties.css";
@import "../_reset.css";
@import "../_typography.css";
@import "../_elements.css";
@import "../_links.css";
@import "../_media.css";
@import "../_blocks.css";

/*--------------------------------------------------------------
# Adjustments for the editor
--------------------------------------------------------------*/

.editor-post-title__input {
	font-stretch: condensed;
	font-size: 2.5rem;
	line-height: 1.4;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

/* Utilities match content.css */
@media (--narrow-menu-query) {
	.hide-mobile {
		opacity: 0.4;
	}
}

@media (--wide-menu-query) {
	.hide-desktop {
		opacity: 0.4;
	}
}

.wp-block-buttons .wp-block-button .wp-block-button__link {
	min-width: clamp(1px, 22.5rem, 100%) !important;
}
