@import "_custom-properties.css";

/*--------------------------------------------------------------
## Blocks
--------------------------------------------------------------*/

/*
 * Available block selectors:
 * .wp-block-image
 * .wp-block-media-text
 * .wp-block-gallery
 * .wp-block-audio
 * .wp-block-video
 * .wp-block-quote
 * .wp-block-cover
 * .wp-block-file
 * .wp-block-button
 * .wp-block-gallery
 * .wp-block-table
 * .wp-block-embed
 * .wp-block-audio
 * .wp-block-pullquote
 * .wp-block-preformatted
 * .wp-block-code
 * .wp-block-verse
 * .wp-block-table
 * .wp-block-separator
 * .wp-block-columns
 * .wp-block-column
 * .wp-block-latest-posts
 * .wp-block-categories
 * .wp-block-archives
 */

/* Cover Block */
.wp-block-cover {
	& .wp-block-cover__inner-container > * {
		max-width: var(--content-width);
		margin-left: auto;
		margin-right: auto;
	}
}

/* Column Block */
/*
.wp-block-columns {
	margin-bottom: 0;
}
.wp-block-column {
	&.has-background {
		padding: 1rem;
	}
}
*/

/* Latest Block Posts */
/*

.wp-block-latest-posts,
.wp-block-latest-comments {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	border: 1px solid hsl(0, 0%, 80%);
}

ul.wp-block-latest-posts.alignwide,
ul.wp-block-latest-posts.alignfull,
ul.wp-block-latest-posts.is-grid.alignwide,
ul.wp-block-latest-posts.is-grid.alignfull {
	padding: 0 1.5em;
}



/*--------------------------------------------------------------
# Gallery Block - overrides core styles
--------------------------------------------------------------*/

.wp-block-gallery ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 0.5em;
}

.wp-block-gallery:not(.components-placeholder) {
	margin: 1.5em auto;
}

/* Override standard ul indentation. */

.entry-content .wp-block-gallery {
	padding-right: 1.5em;
	padding-left: 1.5em;
}

@media screen and (min-width: 48em) {
	.entry-content .wp-block-gallery {
		padding-right: 0;
		padding-left: 0;
	}
}

.wp-block-gallery.columns-2 .blocks-gallery-item,
.wp-block-gallery.columns-3 .blocks-gallery-item,
.wp-block-gallery.columns-4 .blocks-gallery-item,
.wp-block-gallery.columns-5 .blocks-gallery-item,
.wp-block-gallery.columns-6 .blocks-gallery-item,
.wp-block-gallery.columns-7 .blocks-gallery-item,
.wp-block-gallery.columns-8 .blocks-gallery-item,
.wp-block-gallery.columns-9 .blocks-gallery-item {
	grid-column: span 1;
	margin: 0;
	width: inherit;
}

.blocks-gallery-item:last-child:nth-child(odd) {
	grid-column: span 2;
}

.wp-block-gallery.columns-3 .blocks-gallery-item:last-child:nth-child(3n),
.wp-block-gallery.columns-5 .blocks-gallery-item:last-child:nth-child(5n),
.wp-block-gallery.columns-7 .blocks-gallery-item:last-child:nth-child(7n),
.wp-block-gallery.columns-9 .blocks-gallery-item:last-child:nth-child(9n) {
	grid-column: span 1;
}

@media screen and (min-width: 40em) {
	.wp-block-gallery.columns-2 {
		grid-template-columns: repeat(2, 1fr);
	}

	.wp-block-gallery.columns-3 {
		grid-template-columns: repeat(3, 1fr);
	}

	.wp-block-gallery.columns-4 {
		grid-template-columns: repeat(4, 1fr);
	}

	.wp-block-gallery.columns-5 {
		grid-template-columns: repeat(5, 1fr);
	}

	.wp-block-gallery.columns-6 {
		grid-template-columns: repeat(6, 1fr);
	}

	.wp-block-gallery.columns-7 {
		grid-template-columns: repeat(7, 1fr);
	}

	.wp-block-gallery.columns-8 {
		grid-template-columns: repeat(8, 1fr);
	}

	.wp-block-gallery.columns-9 {
		grid-template-columns: repeat(9, 1fr);
	}
}

/* Buttons */
.wp-block-button__link {
	text-align: left;
	border: 0;
}
/*
.wp-block-button__link,
.gform_wrapper input[type="submit"] {
	color: var(--primary-button-text-color);
	background-color: var(--wp--preset--color--primary);
	border: 2px solid var(--wp--preset--color--primary);
	border-radius: 0;
	box-shadow: none;
	cursor: pointer;
	display: inline-block;
	font-size: var(--global-button-font-size);
	padding: var(--global-button-padding);
	text-align: center;
	text-decoration: none;
	overflow-wrap: break-word;
	box-sizing: border-box;
	transition: all 0.2s;
	text-transform: uppercase;

	&:hover,
	&:focus,
	&:active {
		color: var(--primary-button-hover-text-color);
		background-color: var(--primary-button-hover-background-color);
		border-color: var(--primary-button-hover-background-color);
	}
}

.wp-block-button__link {
	min-width: 14rem;
}
*/

/*
.gform_wrapper .gfield {
	& input,
	& textarea,
	& select {
		border-radius: 0;
		padding: var(--global-button-padding) !important;
		padding-left: 0.75rem !important;
		padding-right: 0.75rem !important;
		font-size: var(--global-button-font-size);
		border-color: transparent;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
}
*/

/* Street address shortcode */
.street-address-shortcode span {
	display: block;
}

/* Social Media Shortcode */
ul.social-media {
	list-style: none;
	padding: 0;
	display: flex;
	gap: 1rem;
}

/* List Styles */
.is-style-no-style {
	list-style: none;
	padding-left: 0;
}

.is-style-styled-list {
	list-style: none;
	padding-left: 0;

	& li {
		padding-left: 1.5rem;
		position: relative;
		/* margin-bottom: 0.5rem; */

		&:before {
			content: "";
			width: 1rem;
			height: 1rem;
			background: var(--wp--preset--color--primary);
			display: block;
			position: absolute;
			left: 0;
			top: 0.35rem;
		}
	}
}

/* Media + Text Block */
.wp-block-media-text {

	& .wp-block-media-text__media {
		& img,
		& video {
			width: auto;
			max-width: 100%;
		}
	}

	& .wp-block-media-text__content {
		padding: 0;
	}

}
