@import "_custom-properties.css";

/*--------------------------------------------------------------
## Blocks
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Cover Block - overrides core styles
--------------------------------------------------------------*/
.wp-block-cover {

	& .wp-block-cover__inner-container > * {
		max-width: var(--content-width);
		margin-left: auto;
		margin-right: auto;
	}

	&.is-style-styled-cover::after {
		content: "";
		position: absolute;
		inset: 0;
		background: var(--wp--preset--color--primary);
		clip-path: polygon(100% 61%, 0% 100%, 100% 100%);
		z-index: 3;
	}

	&.is-style-styled-cover::before {
		content: "";
		position: absolute;
		inset: 0;
		background: var(--wp--preset--color--secondary);
		clip-path: polygon(0 81%, 0% 100%, 46% 100%);
		z-index: 2;
	}

	&.is-style-styled-cover > .wp-block-cover__inner-container {
		z-index: 4;
	}
}

/*--------------------------------------------------------------
# Gallery Block - overrides core styles
--------------------------------------------------------------*/

.wp-block-gallery ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 0.5em;
}

.wp-block-gallery:not(.components-placeholder) {
	margin: 1.5em auto;
}


.entry-content .wp-block-gallery {
	padding-right: 1.5em;
	padding-left: 1.5em;
}

@media screen and (min-width: 48em) {

	.entry-content .wp-block-gallery {
		padding-right: 0;
		padding-left: 0;
	}
}

.wp-block-gallery.columns-2 .blocks-gallery-item,
.wp-block-gallery.columns-3 .blocks-gallery-item,
.wp-block-gallery.columns-4 .blocks-gallery-item,
.wp-block-gallery.columns-5 .blocks-gallery-item,
.wp-block-gallery.columns-6 .blocks-gallery-item,
.wp-block-gallery.columns-7 .blocks-gallery-item,
.wp-block-gallery.columns-8 .blocks-gallery-item,
.wp-block-gallery.columns-9 .blocks-gallery-item {
	grid-column: span 1;
	margin: 0;
	width: inherit;
}

.blocks-gallery-item:last-child:nth-child(odd) {
	grid-column: span 2;
}

.wp-block-gallery.columns-3 .blocks-gallery-item:last-child:nth-child(3n),
.wp-block-gallery.columns-5 .blocks-gallery-item:last-child:nth-child(5n),
.wp-block-gallery.columns-7 .blocks-gallery-item:last-child:nth-child(7n),
.wp-block-gallery.columns-9 .blocks-gallery-item:last-child:nth-child(9n) {
	grid-column: span 1;
}

@media screen and (min-width: 40em) {

	.wp-block-gallery.columns-2 {
		grid-template-columns: repeat(2, 1fr);
	}

	.wp-block-gallery.columns-3 {
		grid-template-columns: repeat(3, 1fr);
	}

	.wp-block-gallery.columns-4 {
		grid-template-columns: repeat(4, 1fr);
	}

	.wp-block-gallery.columns-5 {
		grid-template-columns: repeat(5, 1fr);
	}

	.wp-block-gallery.columns-6 {
		grid-template-columns: repeat(6, 1fr);
	}

	.wp-block-gallery.columns-7 {
		grid-template-columns: repeat(7, 1fr);
	}

	.wp-block-gallery.columns-8 {
		grid-template-columns: repeat(8, 1fr);
	}

	.wp-block-gallery.columns-9 {
		grid-template-columns: repeat(9, 1fr);
	}
}


/*--------------------------------------------------------------
# Button Block - overrides core styles
--------------------------------------------------------------*/
.wp-block-button__link {
	border: 2px solid var(--wp--preset--color--secondary);

	text-align: left;
	min-width: clamp(1px, 22.5rem, 100%);/* added in the editor css */
	display: flex;
	justify-content: space-between;
	align-items: center;

	gap: 1em;


	--white-arrow: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAyMSAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik0yMC42Njk5IDYuMDg1NDVMMTUuNjY1MyAxMS40ODA4TDE1LjY2NTMgMC42OTAxMjhMMjAuNjY5OSA2LjA4NTQ1WiIgZmlsbD0id2hpdGUiLz4NCjxsaW5lIHgxPSIxNi42MDY0IiB5MT0iNi4wODU5NCIgeDI9IjAuMTcwMTM5IiB5Mj0iNi4wODU5NCIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIi8+DQo8L3N2Zz4=");
	--black-arrow: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAyMSAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik0yMC42Njk5IDYuMDg1NDVMMTUuNjY1MyAxMS40ODA4TDE1LjY2NTMgMC42OTAxMjhMMjAuNjY5OSA2LjA4NTQ1WiIgZmlsbD0iYmxhY2siLz4NCjxsaW5lIHgxPSIxNi42MDY0IiB5MT0iNi4wODU5NCIgeDI9IjAuMTcwMTM5IiB5Mj0iNi4wODU5NCIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIyIi8+DQo8L3N2Zz4=");

	z-index: 1;
	position: relative;

	&::before {
		background: var(--wp--preset--color--secondary);
		content: "";
		z-index: -1;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		transform-origin: center right;
		transform: scaleX(0);
		transition: transform 0.25s ease-in-out;
	}

	&::after {
		content: var(--white-arrow);
	}

	&:hover,
	&:focus,
	&:active {
		cursor: pointer;

		&::before {
			transform-origin: center left;
			transform: scaleX(1);
		}

		&::after {
			content: var(--white-arrow);
		}
	}
}

.wp-block-buttons .wp-block-button {

	&.is-style-outline {

		& .wp-block-button__link {
			border: 2px solid var(--wp--preset--color--secondary);

			&::before {
				background-color: var(--wp--preset--color--secondary);

			}
		}
	}
}


/*--------------------------------------------------------------
# Media + Text Block - overrides core styles
--------------------------------------------------------------*/
.wp-block-media-text {
	gap: 2em;

	& .wp-block-media-text__media {

		& img,
		& video {
			width: auto;
			max-width: 100%;
		}
	}

	& .wp-block-media-text__content {
		padding: 0;
	}
}

/*--------------------------------------------------------------
# List Block - overrides core styles
--------------------------------------------------------------*/
.is-style-no-style {
	list-style: none;
	padding-left: 0;
}

.is-style-styled-list {
	list-style: none;
	padding-left: 0;

	& li {
		padding-left: 1.5rem;
		position: relative;

		&::before {
			content: "";
			width: 1rem;
			height: 1rem;
			background: var(--wp--preset--color--primary);
			display: block;
			position: absolute;
			left: 0;
			top: 0.35rem;
		}
	}
}

/* Street address shortcode */
.street-address-shortcode span {
	display: block;
}

/* Social Media Shortcode */
ul.social-media {
	list-style: none;
	padding: 0;
	display: flex;
	gap: 1rem;
}
