/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/

:root {
	--content-width: 65rem;
	--content-wide-width: 72rem;

	/* Typography */
	--global-font-color: #000;
	--global-lite-font-color: #fff;

	/* Button Styling */
	--primary-button-background-color: var(--wp--preset--color--primary);
	--primary-button-text-color: #fff;
	--primary-button-hover-background-color: var(--wp--preset--color--primary);
	--primary-button-hover-text-color: #fff;
	--secondary-button-background-color: #fff;
	--secondary-button-text-color: #000;
	--secondary-button-hover-background-color: #000;
	--secondary-button-hover-text-color: #fff;
	--global-button-padding: calc(0.667em + 2px) calc(1.333em + 2px);
	--global-button-font-size: 1.125rem;
	--global-input-padding: calc(0.667em + 2px) 5px;
}
