@import "_custom-properties.css";

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
	&,
	&:visited {
		text-decoration: underline;
	}

	&:hover,
	&:focus,
	&:active {
		/* color: var(--color-link-active); */
		text-decoration: none;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
