.woocommerce .shop-archive-container {
	max-width: var(--content-wide-width);
	margin: 0 auto;
	margin-bottom: 4rem;
	display: flex;
	padding: 0 1rem;

	& > * {
		flex: 1 1 100%;
	}

	& > aside {
		max-width: clamp(17rem, 20vw, 22rem);
		margin-right: 2rem;
		background-color: var(--color-theme-gray);
		padding: 1rem;
	}
}

.woocommerce .site-main {
	max-width: var(--content-wide-width);
	margin: 0 auto;
	padding: 0 1rem;
}

.woocommerce ul.products {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;

	@media (min-width: 600px) and (max-width: 900px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (min-width: 900px) {
		grid-template-columns: repeat(4, 1fr);
	}

	&::before {
		content: none;
	}

	& > li.product {
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 4px;
		padding: 1rem;
		float: none;
		width: 100% !important;
		margin: 0;
		text-align: center;
	}
}

.woocommerce .related.products ul.products li.product {
	flex: 1 1 calc(clamp(230px, 25%, 100%) - 1rem);
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
	background-color: var(--color-theme-primary);
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	background-color: var(--color-theme-secondary);
}

#woocommerce-sidebar > section {
	margin-bottom: 2em;
}
