.woocommerce .woo-archive {
	max-width: var(--content-wide-width);
	margin: 0 auto;
	margin-bottom: 4rem;
	display: flex;
	padding: 0 1rem;

	@media (max-width: 900px) {
		flex-wrap: wrap;
	}

	& > * {
		flex: 1 1 100%;
		order: 2;
		max-width: 100%;
	}

	& > aside {
		max-width: clamp(10rem, 20vw, 15.625rem);
		margin-right: 2rem;
		margin-bottom: 2rem;
		background-color: var(--wp--preset--color--gray);
		padding: 1rem;
		order: 1;

		@media (max-width: 800px) {
			max-width: 100%;
			margin-right: 0;
		}
	}
}

.woocommerce .site-main {
	max-width: var(--content-wide-width);
	margin: 0 auto;
	padding: 0 1rem;
}

.woocommerce ul.products {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;

	@media (--wide-menu-query) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (min-width: 900px) {

		&.columns-4{
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&::before {
		content: none;
	}

	& > li.product {
		padding: 1rem;
		padding-bottom: 0;
		float: none;
		width: 100% !important;
		margin: 0;
		text-align: left;
		display: flex;
		flex-wrap: wrap;
		position: relative;
		overflow: hidden;
		color: var(--wp--preset--color--white);

		& * {
			margin: 0;
		}

		& a,
		& .price .woocommerce-Price-amount {
			color: var(--wp--preset--color--white);

		}

		& .price{
			margin-bottom: 0;
		}

		& a img {
			width: auto;
			margin: 0 auto;
		}

		& .woocommerce-loop-product__title {
			border-top: 2px solid var(--wp--preset--color--gray);
			position: relative;
			padding: 0;
			padding-top: 1rem;

			&:before {
				content: '';
				width: 200%;
				height: 100vh;
				display: block;
				background: var(--wp--preset--color--primary);
				position: absolute;
				bottom: 0;
				z-index: 100;
				top: 0;
				left: -50%;
				right: -50%;
				z-index: -1;
			}
		}

		& .woocommerce-Price-amount {
			font-size: 1.25rem;
			color: #000;
		}

		& .button {
			align-self: flex-end;
			width: 100%;
			margin-top: 1rem;
			margin-bottom: 1rem;
		}

		& .added_to_cart {
			margin-bottom: .5rem;
		}
	}

}

.woocommerce .related.products ul.products li.product {
	flex: 1 1 calc(clamp(230px, 25%, 100%) - 1rem);
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
	background-color: var(--wp--preset--color--primary);
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	background-color: var(--wp--preset--color--secondary);
}

#woocommerce-sidebar > section {
	margin-bottom: 2em;
}

/** Price Slider **/
.wc-block-components-price-slider__range-input-progress {
	--range-color: var(--wp--preset--color--primary);
}

/** Filter Checkboxes **/
.wc-block-attribute-filter .wc-block-attribute-filter-list li input {
	margin: 0.5rem;
}

.woocommerce-products-header__title {
	margin-top: 0;
}
