.woocommerce .shop-archive-container {
	max-width: var(--content-wide-width);
	margin: 0 auto;
	margin-bottom: 4rem;
	display: flex;
	padding: 0 1rem;

	& > * {
		flex: 1 1 100%;
	}

	& > aside {
		max-width: clamp(17rem, 20vw, 22rem);
		margin-right: 2rem;
		background-color: var(--wp--preset--color--gray);
		padding: 1rem;
	}
}

.woocommerce ul.products {
	gap: 1rem;
	display: flex;
	flex-wrap: wrap;

	&::before {
		content: none;
	}

	& li.product {
		flex: 0 1 calc(clamp(230px, 33%, 100%) - 1rem);
		margin: 0 !important;
		width: 100% !important;
		border: 1px solid var(--wp--preset--color--gray);
		background-color: var(--wp--preset--color--gray);
		font-family: var(--highlight-font-family);

		& > a:first-child {
			display: flex;
			flex-wrap: wrap;

			& > * {
				flex: 1 1 100%;
			}

			& > img {
				order: 1;
			}

			& > .woocommerce-loop-product__title {
				order: 3;
			}

			& > .price {
				order: 2;
			}
		}

		& .woocommerce-loop-product__title,
		& .price {
			padding: 0 1rem !important;
			color: #000;
		}

		& .woocommerce-loop-product__title {
			font-weight: 500;
			font-size: 1.125rem;
		}

		& .price {
			font-size: 1.5rem;
			margin-bottom: 0;
			font-weight: 600;
		}

		& .button {
			margin-right: 1rem;
			margin-left: 1rem;
			margin-bottom: 2rem;
			width: calc(100% - 2rem);
			color: #fff;
			text-align: center;

			&.added {
				margin-bottom: 0;
			}
		}

		& .added_to_cart {
			margin-bottom: 2rem;
			margin-left: 1rem;
			margin-right: 1rem;
			text-align: center;
			display: block;
		}
	}
}

.woocommerce .related.products ul.products li.product {
	flex: 1 1 calc(clamp(230px, 25%, 100%) - 1rem);
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
	background-color: var(--color-theme-primary);
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	background-color: var(--color-theme-secondary);
}

#woocommerce-sidebar > section {
	margin-bottom: 2em;
}
