.single.woocommerce .site-main {
	max-width: var(--content-wide-width);
	margin: 0 auto;
	padding: 0 1rem;

	& .product {
		& .woocommerce-product-gallery {
			background: var(--color-theme-gray);
		}

		& > .summary {
			background: var(--color-theme-gray);
			padding: clamp(1rem, 3%, 3rem);

			& .product_title {
				font-size: 2.5rem;
				margin-bottom: 0;
			}

			& .price {
				/* font-size: 2.75rem; */
				color: inherit;
			}
		}

		& .quantity .qty {
			padding: var(--global-input-padding);
			font-size: var(--global-button-font-size);
		}
	}
}
