@import "../_custom-properties.css";
@import "_archive.css";
@import "_single.css";
@import "_cart.css";
@import "_checkout.css";
@import "_forms.css";

/* Change woocommerce colors */

/* Woocommerce notifications */
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
	border-color: var(--color-theme-primary);

	&::before {
		color: var(--color-theme-primary);
	}

	@media (--narrow-menu-query) {
		& a {
			width: 100%;
			text-align: center;
		}
	}
}

/* Sales color */
.woocommerce span.onsale {
	background-color: var(--wp--preset--color--primary);
}
