@import "../_custom-properties.css";
@import "_archive.css";
@import "_single.css";
@import "_cart.css";
@import "_checkout.css";
@import "_forms.css";
@import "../_blocks";

/* Change woocommerce colors */

/* Woocommerce notifications */
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
	border-color: var(--wp--preset--color--primary);

	&::before {
		color: var(--wp--preset--color--primary);
	}

	@media (--narrow-menu-query) {
		& a {
			width: 100%;
			text-align: center;
		}
	}
}
.woocommerce-error {
	border-top-color: #b81c23;

	&::before {
		color: #b81c23;
	}
}

/* Sales color */
.woocommerce span.onsale {
	background-color: var(--wp--preset--color--primary);
}

/* All in one cart */
nav .vi-wcaio-menu-cart-content-wrap {
	min-width: 280px;
}

.widget_shopping_cart_content > button {
	display: none;
}
