/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
	margin: 1em 0 0;
	padding: 2em 0;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
}

.site-info {
	text-align: center;
}

.site-footer {
	background: var(--wp--preset--color--primary);
	color: #fff;

	& .main-footer {
		padding: 1em;
		max-width: var(--content-wide-width);
		margin-left: auto;
		margin-right: auto;

		@media (--wide-menu-query) {
			display: grid;
			grid-template-columns: 1fr auto 1fr;
		}

		& nav ul {
			list-style: none;
			padding: 0;
			display: flex;
			flex-wrap: wrap;

			& li {
				margin-left: 1rem;
				margin-bottom: 1rem;

				& a {
					color: inherit;
					text-decoration: none;
				}
			}
		}
	}
}
